@import '~antd/dist/antd.less';

#root {
    height: 100%;
}

.custom-anchor {
    color: rgba(0,0,0,.85);
    transition: all .3s;
}
.custom-anchor:hover {
    color: #1890ff;
}

.pre-wrap {
    white-space: pre-wrap;
}

.custom-meta-title {
    display: flex;
    flex-direction: column;
}

.p-0 {
    padding: 0;
}

.contain-image {
    object-fit: contain;
    width: 100%;
    max-height: 400px;
}